# workspace
/.vscode/
/backend/.idea/
/frontend/.idea/

# frontend
/frontend/node_modules/
/frontend/dist/

# backend
/backend/target/

# local command outputs / logs
.output.txt
output.txt
*.output.txt
