# workspace
/.vscode/
/backend/.idea/
/frontend/.idea/
.DS_Store

# frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.nyc_output/
/frontend/coverage/cypress/**
!/frontend/coverage/cypress/lcov.info
!/frontend/coverage/cypress/coverage-summary.json
!/frontend/coverage/cypress/.gitkeep

# backend
/backend/target/

# local command outputs / logs
.output.txt
output.txt
*.output.txt
